body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.633);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#board {
    width: 1300px;
    height: 600px;
    position: relative;
    border: 1px white;
    background-image: url("../img/the-shire.jpg");
    background-color: rgb(169, 184, 179);
    background-size: cover;
    overflow: hidden;
    border-radius: 8px;
}

#page-gameover {
    background-color: rgba(0, 0, 0, 0.876);
    background-image: url("../img/background-mordor-2.jpg");
    background-size: cover;
    color: rgb(158, 76, 17);
    size: 50vw;
    justify-content: center;
    font-size: 40px;
}

#page-gameover a{
    text-decoration: none;
    color: rgb(162, 16, 16);
    font-style: italic;
}

#gameover-image {
    width: 200px;
    height: auto;
    margin-bottom: 0;
}

#board-gameover {
    position: relative;
    justify-content: center;
    text-align: center;
}


#player {
    background-image: url("../img/gollum-grey-cropped.png");
    background-size: cover;
    position: absolute;
}

.diamond-obstacle {
    position: absolute;
    background-image: url('../img/diamond-crystal.png');
    background-size: cover;
}

.gold-obstacle {
    position: absolute;
    background-image: url('../img/gold-brick.png');
    background-size: cover;
}

.bad-obstacle {
    background-image: url("../img/rock-1.png");
    background-size: cover;
    position: absolute;
}

#score-tracker {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border: 10px white;
    top: 40px;
    right: 40px;
    padding: 20px 35px;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#score-tracker p {
    font-size: large;
    margin: 0;
}

#score-tracker img {
    width: 25px;
    height: auto;
    margin-left: 10px;
    vertical-align: middle;
}

h1{
    margin-top: 10px;
    margin-bottom: 30px;
}

#page-winner {
    /*background-color: rgba(0, 0, 0, 0.876);*/
    background-image: url("../img/shire-happiness.jpg");
    background-size: cover;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

#board-winner {
    position: absolute;
    background-color: rgba(175, 112, 19, 0.263);
    border: 10px white;
    padding: 50px 100px;
    color: rgb(5, 61, 21);
    border-radius: 10px;
}

#winner-image {
    width: 200px;
    height: auto;
    margin-left: 20px;
}

#ring {
    width: 200px;
    height: auto;
    margin: 0;
}

#ring:hover{
    transform: scale(1.2);
    /*box-shadow: 0 0 15px rgba(52, 152, 219, 0.7);*/
}

#page-winner a{
    text-decoration: none;
    color: rgb(31, 205, 60);
    font-style: italic;
}

a:hover{
    border-radius: 10px;
    font-size: larger;
}