body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#board {
    width: 1400px;
    height: 800px;
    position: relative;
    border: 1px white;
    background-image: url("../img/the-shire.jpg");
    background-color: rgb(169, 184, 179);
    background-size: cover;
    overflow: hidden;
}

#page-gameover {
    /*TODO fix background*/
    background-color: rgba(0, 0, 0, 0.876);
    background-image: url("../img/background-mordor-2.jpg");
    color: chocolate;
    size: 50vw;
}

/*#board-gameover {
    width: 1000px;
    height: 800px;
    position: relative;
    border: 1px white;
    background-color: black;
    background-image: url("../img/background-mordor.jpg");
    background-color: rgb(169, 184, 179);
    background-size: cover;
    overflow: hidden;
}*/


#player {
    background-image: url("../img/gollum-grey.png");
    background-size: cover;
    position: absolute;
}

.good-obstacle {
    position: absolute;
    background-size: cover;
}

.bad-obstacle {
    /* background-color: red; */
    background-image: url("../img/rock-1.png");
    background-size: cover;
    position: absolute;
}