body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


#board {
    width: 80vw;
    height: 90vh;
    position: relative;
    border: 1px white;
    /*TODO need to make sure this works 
    background-image: url("./img/the-shire.jpg");*/
    background-color: rgb(169, 184, 179);
    background-size: cover;
    overflow: hidden;
    margin-top: 30px;
}


#player {
    background-color: rgb(23, 36, 23);
    position: absolute;
}

